<div class="login-div">
    <h1 id="login-title">Log In</h1>
    <form class="login-form">
        <div>
            <label for="login-username">Username</label>
            <input type="text" placeholder="Username" id="username-login" />
        </div>
        <div>
            <label for="login-password">Password</label>
            <input type="text" placeholder="Password" id="password-login" />
        </div>
        <div>
            <button id="login-form-btn" type="submit">Log In</button>
        </div>
    </form>
    <div>
        <a href="/signup">
            <button id="login-btn">Dont' have an Account? Sign Up</button>
        </a>
    </div>
</div>

<script src="/javascript/login.js"></script>