<a href="/dashboard">
    <button id="dashboard-btn">Dashboard</button>
</a>

<div class="edit-div">
    <h1 id="new-post-title">New Post</h1>
    <form class="new-post-form">
        <div>
            <label for="new-title">Post Title</label>
            <input type="text" id="new-post-title-field" placeholder="Title"/>
        </div>
        <div>
            <label for="new-content">Post Content</label>
            <textarea id="new-post-content-field"></textarea>
        </div>
        <div>
            <button id="new-post-btn" type="submit">Post</button>
        </div>
    </form>
</div>

<script src="/javascript/newPost.js"></script>