<div class="sign-up-div">
    <h1 id="signup-title">Sign Up</h1>
    <form class="signup-form">
        <div>
            <label for="signup-username">Username</label>
            <input type="text" placeholder="Username" id="username-signup" />
        </div>
        <div>
            <label for="signup-password">Password</label>
            <input type="text" placeholder="Password" id="password-signup" />
        </div>
        <div>
            <button type="submit" id="signup-form-btn" >Sign Up</button>
        </div>
    </form>
    <div>
        <a href="/login">
            <button id="login-btn">Have an Account? Log In</button>
        </a>
    </div>
</div>

<script src="/javascript/signup.js"></script>